:root {
    --blue: #00ADB5;
    --white: #ffffff;
}
.signup-page {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    height: 100vh;
}

.signup-page-outside-form {
    width: 60vw;
    height: 90vh;
    background-color:var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-width: 200px;
    min-height: 200px;
    border-radius: 10%;
}
.signup-page input{
    width: 80%;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    
}
.signup-page input:focus{
    border-bottom: 2px solid black;
}
.signup-page button, .signup-page-outside-form button{
    width: 80%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background-color: #ffffff;
    color: var(--blue);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.signup-page button:hover, .signup-page-outside-form button:hover{
    background-color:var(--blue);
    color: #ffffff;
}
.signup-page label{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}