:root {
    --blue: #00ADB5;
    --white: #ffffff;
}
.create-project{
    transition:all 0.3s ease-in-out;
    transform: translate(0, -100vw);
    background-color: var(--blue);
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding:20px;
    margin:auto;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    left:20vw;
    width:60vw;

}
.creat-project-inside-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-width: 200px;
    flex-wrap:wrap;
    min-height: 200px;
}
.create-project input{
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    
}


.profnavbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: var(--blue);
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
.profnavbar button{
    background-color:var(--white);
    color: var(--blue);
    padding:10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 10px;
}
.edit-project-container{
        transition: all 0.3s ease-in-out;
    background-color: var(--blue);
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        padding: 20px;
        margin: auto;
        position: absolute;
        font-family: 'Roboto', sans-serif;
        position:absolute;
        left:15vw;
        width:70vw;
        top:30vh;
        border: 5px solid #ffffff;
    
}
.edit-project-container button{
    background-color: var(--white);
        color: var(--blue);
        padding: 10px;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        padding: 10px;
}
.edit-project-container input{
    margin: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    
}
.edit-project-container input:focus{
    border-bottom: 2px solid black;
}
.edit-project{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: auto;
        min-width: 200px;
        min-height: 200px;
}
.edit-project button{
    background-color:var(--white);
    color: var(--blue);
    padding:10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 10px;
}
.show {
    transform: translate(0, 0);
}